h1{
  display: block;
    text-align:center;
    position:relative;
  font-weight: bold;
  font-size: 70px;

}
.red{
 background-color: red;
 }

.blue{
background-color: blue;
}

.green{
background-color: green;
}

div {
  width: 267%;
  padding-left:5px;
  margin: auto
}
body{
  background-image: url(http://gzhaixier.com/data/out/165/45480942-natural-images.jpg);
}
.weekDays{
padding-left:4%;
font-size: 35px;
}

}
